body {
  /*background:linear-gradient(to right, #9E6752, #FED7A5);*/
  background:linear-gradient(to right, #9cdfe8, #6ac1cd);
  color:white;
}
a {
  display: inline-block;
  background-color:white;
  position:relative;
  left:37px;
  top:575px;
  font-size:66px;
  text-decoration:none;
  padding:30px 200px 30px 200px;
  border-radius:155px;
  font-family: sans-serif;
  border:none;
  transition: all 0.3s ease;
  margin-left:51px;
  font-weight:bold;
  color:#6ac1cd
}
a:hover {
  transform: scale(1.05);
}
a:active {
  transform: scale(0.95);
}

.botao2 {
  display:inline-block;
  padding:30px 258px 30px 258px;
  margin-left:51px;
  margin-bottom:25px;
  margin-top:25px;
}
.botao3 {
  display:inline-block;
  padding:30px 200px 30px 200px;
  margin-left:51px;
  margin-top:30;
}
img {
 width:250px;
 height:250px;
 border-radius:120px;
 display:block;
 margin:0 auto;
 margin-top:-250px;
 animation: jump 2s infinite;
 border:solid 2px white;
}
h3 {
  color:white;
  font-size: 50px;
  margin-left:347px;
  margin-top:10px;
  animation: jump 2s infinite;
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform:translateY(-20px);
  }
}
